<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ru.pushed.flutter_pushed_messaging">
    <application>
        <receiver
            android:name=".BackgroundMessageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ru.pushed.action.MESSAGE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
